.list-item {
    list-style-type: none;
    margin: 10px;
}
.movie-img {
    height: 90px;
    width: 64px;
    border-radius: 8px;
}
.link {
    text-decoration: none;
}
@media screen and (min-width: 768px) {
  .movie-img {
    width: 200px;
    height: 170px;
  }
}